:root {
    --font-family: 'Trebuchet MS', Sans-Serif;
    --primary-color: #31343c;
    --secondary-color: #9ecacc;
    --border-radius: 4px;
    --background-color: #EDEDF5;
    --text-color: #485873;
  }